Temp/UnityLockfile
Temp/
Library/**/*
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/metadata/19/19a71bf37c9da7943a2ed674a92a5ae2
Library/metadata/70/709ad0620eec04e42bfc4f05f21e2c3c
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
